{% extends "CoreBundle::layout.html.twig" %}

{% block title %}Página principal{% endblock %}

{% block header %} {% endblock %}

{% block nombre_menu_superior %}
    <div class="encabezados" id="titulo_a"> <h4 style="text-align: center">PÁGINA PRINCIPAL</h4></div>
{% endblock %}

{% block area_trabajo %}

    <div class="well" style="margin-left: 150px; margin-right: 150px">
    </div>
{% endblock %}


{% block contenido %}


{% endblock %}