{% extends "CoreBundle::layout.html.twig" %}

{% block title %}Página principal{% endblock %}

{% block header %} {% endblock %}

 {% block titulo_encabezado %}
     Página Principal
 {% endblock %}

{% block area_trabajo %}
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Gestión de Nomencladores
                </div>
                <div class="panel-body">
                    <div style="float: left; margin-top: -10px; width: 100px; height: 100px;" >
                        <a href="{{  path('my_dashboard_welcome') }}"> <img src="{{ asset('images/todo.png') }}" alt="Banner" /> </a>
                    </div>

                    <div style="float: left; padding: 15px 0px 0px 30px; width: 190px; height: 100px;">
                        <p style="text-align: center"> Permite acceder a la gestión de los nomencladores existentes en el Sistema. </p>
                    </div>
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Administración
                </div>
                <div class="panel-body">
                    <div style="float: left; margin-top: -10px; width: 100px; height: 100px;" >
                        <img src="{{ asset('images/setting.png') }}" alt="Banner" />
                    </div>

                    <div style="float: left; padding: 15px 0px 0px 30px; width: 190px; height: 100px;">
                        <p style="text-align: center"> Permite acceder a la administración del Sistema. </p>
                    </div>
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

{% endblock %}


{% block contenido %}


{% endblock %}