<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}  {% endblock %} | Sistema de Gestión de Autobuses</title>

        {% include "::stylesheets.html.twig" %}
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {% block body %}{% endblock %}

        {% include "::javascripts.html.twig" %}
        {% block javascripts %}{% endblock %}
    </body>
</html>



