{% extends "::base.html.twig" %}

{% block header %}{% endblock %}

{% block body %}

    {# Header Superior y logo #}
    {% include 'CoreBundle:Extras:header.html.twig'  %}


    {# Header Superior y logo #}
    {% include 'CoreBundle:Extras:menu_izquierdo.html.twig'  %}


    <div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                {% block titulo_encabezado %}
                    Título encabezado
                {% endblock %}
            </h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

        {% block area_trabajo %}
            AREA_TRABAJO
        {% endblock %}

{% endblock %}

{% block inside_javascripts %}


    {% block inside_javascripts_inter %}
    {% endblock %}

{% endblock %}