{% extends "::base.html.twig" %}

{% block header %}{% endblock %}

{% block body %}

    {# Header Superior y logo #}
    {% include 'CoreBundle:Extras:header.html.twig'  %}


    {# Area de Trabajo #}
    <div class="breadcrumb">
        <div class="row-fluid">

            {# Menú izquierdo #}
            {# {% include 'SystemUserBundle:Extras:menu_izquierdo.html.twig'  %} #}

            <div class="span9">
                <div class="breadcrumb" >
                    <div style="padding-bottom: 0px;">
                        {% block imagen_menu_superior %}
                            <img src="{{ asset('autobus2.jpg') }}" width="400" height="20" alt="Banner" />
                        {% endblock %}
                    </div>
                    {% block nombre_menu_superior %}
                        <div class="encabezados" id="titulo_a">Título</div>
                    {% endblock %}
                </div>

                <div class="breadcrumb" style="width: 1024px !important; padding-top: -30px;">

                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="container">

                                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </a>

                                <a class="brand" href="#" style="font-size: 17px;">
                                    {% block titulo %}

                                    {% endblock %}
                                </a>

                                <div class="nav-collapse collapse">
                                </div>

                            </div>
                        </div>
                    </div>

                        <div class="bs-docs-example">
                            <p>
                                {% block area_trabajo %}

                                {% endblock %}
                            </p>

                        </div>

                </div>

            </div>
        </div>
    </div>
    <hr> {# Línea divisoria entre el área de trabajo y el footer #}


    {% block footer %}

        <footer class="footer">
            <div class="container">
                <p>Designed and built with all the love in the world by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a>.</p>
                <p>Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
                <p><a href="http://glyphicons.com">Glyphicons Free</a> licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
                <ul class="footer-links">
                    <li><a href="http://blog.getbootstrap.com">Blog</a></li>
                    <li class="muted">&middot;</li>
                    <li><a href="https://github.com/twitter/bootstrap/issues?state=open">Issues</a></li>
                    <li class="muted">&middot;</li>
                    <li><a href="https://github.com/twitter/bootstrap/blob/master/CHANGELOG.md">Changelog</a></li>
                </ul>
            </div>
        </footer>


    {% endblock %}


{% endblock %}

{% block inside_javascripts %}


    {% block inside_javascripts_inter %}
    {% endblock %}

{% endblock %}