{% extends "BusetaTallerBundle::layout.html.twig" %}

{% block title %} Módulo Taller {% endblock %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo %}
    Módulo Gestión de Taller
{% endblock %}

{% block titulo_encabezado %}
    Módulo Gestión de Taller
{% endblock %}

{% block area_trabajo %}

    <div class="alert alert-info">
        <h4>Bienvenido al Módulo de Gestión de Taller, seleccione la opción deseada en el menú que se encuentra a la izquierda de esta ventana.</h4>
    </div>

{% endblock %}
