{% from 'BusetaTemplateBundle::flash.html.twig' import session_flash %}

{% extends "::base.html.twig" %}

{% block header %}{% endblock %}

{% block body %}

    {# Header Superior y logo #}
    {% include 'BusetaBusesBundle:Extras:header.html.twig'  %}

    {# Header Superior y logo #}
    {% include 'BusetaBusesBundle:Extras:menu_izquierdo.html.twig'  %}

    <div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                {% block titulo_encabezado %}
                    Título encabezado
                {% endblock %}
            </h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
        {# Session flashes #}
        {% block flashes %}
            {% if app.session.flashbag.peekAll|length > 0 %}
                <div class="row">
                    <div class="col-sm-12">
                        {{ session_flash() }}
                    </div>
                </div>
            {% endif %}
        {% endblock flashes %}

        {% block area_trabajo %}
            Área de Trabajo
        {% endblock %}

{% endblock %}

{% block inside_javascripts %}


    {% block inside_javascripts_inter %}
    {% endblock %}

{% endblock %}