.alert-info {
    color: #fff;
    background-color: #339933;
    border-color: #339000;
    padding: 20px;
}

.table thead th {
    background-color: #339933;
    color: #FFFFFF;
    text-align: center;
    vertical-align: bottom;
}

.btn-primary {
    background-color: #339933;
    border-color: #339000;
    color: #FFFFFF;
}

a {
    color: #339933;
}

a:hover,
a:focus {
    color: #339000;
    text-decoration: underline;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #339000;
    border-color: #339000;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #339000;
    border-color: #339000;
}
.btn-primary .badge {
    color: #339000;
    background-color: #fff;
}
