{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block title %} Módulo Bodegas {% endblock %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo %}
    Módulo Gestión de Bodegas
{% endblock %}

{% block titulo_encabezado %}
    Módulo Gestión de Bodegas
{% endblock %}

{% block area_trabajo %}

    <div class="alert alert-info">
        <h4>Bienvenido al Módulo de Gestión de Bodegas, seleccione la opción deseada en el menú que se encuentra a la izquierda de esta ventana.</h4>
    </div>

{% endblock %}
